.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  &-left {
    color: white;
    font-weight: 300;
    font-size: 0.9rem;
    display: inline-flex;
    justify-content: left;
    align-items: center;
    max-width: 50%;
    flex-wrap: wrap;

    &-organization {
      font-weight: 500;
    }
  }

  &-right {
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    display: inline-flex;
    justify-content: right;
    align-items: center;
    max-width: 50%;
    flex-wrap: wrap;

    &-amount {
      background: white;
      color: black;
      border-radius: 10000px;
      padding: 0.25rem 0.5rem;
      margin-left: .5rem;
    }
  }
}

.no-data {
  height: 5vh;
  display: block;
  color: white;
}

fa-icon {
  padding: 0 0.25rem;
}
